.jumbotron {
    opacity: .96;
    background-color: white;
    /* border: #EF3D55 2px solid;  */
    margin-top: 100px;
    border-radius: 25px;
    color: #004789;
    
}

.btn-primary {
    text-align: center !important;
    background-color: #004789
}




a {
    color: white !important;
    text-decoration: underline !important
}

#yes {
    text-align: center;
    margin-right: 25px
}

#no {
    text-align: center;
    position: relative;
    margin-left: 25px
}

#letsGoButton {
    width: 350px;
    /* position: relative;
    left: 350px */
    margin-top: 30px
}

#letsGoButton:hover {
    cursor: pointer;
    zoom: 100.3%
}
#simple{
margin-top: 100px !important
}

#alternate{
    height: 330px;
    position: relative;
    left: 20px
  
}
#alternate:hover{
    cursor: pointer;
}