.jumbotron{
    opacity: .96;
    background-color: white;
    border: #EF3D55 2px solid; 
    margin-top: 200px;
    border-radius: 25px;
    color:#004789
    
}
.btn-primary{
    text-align: center !important;
    background-color: #004789
}
#x:hover{
cursor: pointer;

}

#x{
    position: relative;
    left: 245px;
    bottom: 17px;
    font-size: 25px
}
a{
    color: white !important
}
#yes{
    text-align: center; 
    position: relative;
    left: 200px
}
#no{
    text-align: center; 
    position: relative;
    right: 200px
}