footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #004789;
    color: #EF3D55;
    text-align: center;
    padding: 8px;
    text-decoration: none!important
}

.red{
    color: #EF3D55 !important
}

i{
    /* text-decoration: none !important; */
    color: #004789;
    /* margin-left: 30px */
}

i:hover{
    cursor: pointer;
}


#lets{
    width: 100px
}

.foot{
    /* margin-left: 20px !important; */
    text-decoration-color: #004789 !important
}
#iFrame{
    margin: 10px
}
#about{
    letter-spacing: .5px
}
#about:hover{
            cursor: pointer;
            font-weight: bolder
            
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    #iFrame{
        width: 320px;
        height: 180px
    }

}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #iFrame{
        width: 320px;
        height: 180px
    }

}