footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #004789;
    color: #EF3D55;
    text-align: center;
    padding: 12px;
    text-decoration-color: #004789 !important
}

i{
    text-decoration: none !important;
    color: #EF3D55;
    /* margin-left: 30px */
}

i:hover{
    cursor: pointer;
}

/* #oneSticker {
    width: 250px;
    position: relative;
    bottom: 550px;
    left: 50px
   
   
}

#twoStickers {
    width: 375px;
    position: relative;
    left: 900px;
    bottom: 200px
   
} */

#lets{
    width: 100px
}