.question {
    text-align: center !important;
    margin-bottom: 15px;
    font-size: 62px;
    font-Family: Gotham, sans-serif;
     color: black
}

#exclamation{
    height: 49px;
    position: relative;
    bottom: 5px
}
li {
    margin-bottom: 20px
}

.btn-primary {
    text-align: center !important;
    background-color: #004789
}

::placeholder {
    color: #004789;
    opacity: .6
}

input {
    color: black !important;
    border: black .5px solid
}

input[type="radio"] {
    cursor: pointer;

}

/* .react-time-picker__inputGroup__amPm {
    color: #004789 
}
.react-time-picker__wrapper{
    border: #004789 .5px solid 
}
.react-time-picker__button svg {
    color: #004789 !important
} */
#close:hover {
    cursor: pointer;

}

#close {
    position: relative;
    left: 405px;
    bottom: 15px;
    font-size: 25px;
    color: white !important
}

#closeElection:hover {
    cursor: pointer;

}

#closeElection {
    position: relative;
    left: 405px;
    bottom: 15px;
    font-size: 25px;
    color: white !important
}

#closeEarly:hover {
    cursor: pointer;

}

#closeEarly {
    position: relative;
    left: 405px;
    bottom: 15px;
    font-size: 25px;
    color: white !important
}

.mailButton {
    background-color: white !important;
    color: #004789
}
.mailButton:hover{
color: #004789 !important
}

.fa-arrow-left {
    position: relative;
    right: 200px;
    z-index: 50900;
    font-size: 25px
}

.fa-arrow-left:hover {
    cursor: pointer;
}
#arrowMail{
    right: 165px !important
}
#arrowPerson1 {
    right: 250px !important
}

#arrowPerson2 {
    right: 95px !important
}
#arrowPerson3 {
    right: 280px !important
}

#arrowElection {
    right: 135px !important
}
#arrowElection2 {
    right: 135px !important
}
#arrowElection3 {
    right: 135px !important
}
#arrowElection4 {
    right: 135px !important
}
#castBallotImage{
    width: 800px;
    text-align: center
}

i {
    z-index: 45030320
}

/* .jumbotronX{
    margin-top: 220px !important
} */

label {
    text-align: left !important
}

 .container {
    position: relative;
    bottom: 30px
} 
#mailInput{
    color: #004789 !important
}
#mailInput2{
    color: #EF3D55 !important;
    font-family: 'Gotham', sans-serif
}
#mailInput3{
    color: #004789 !important;
    font-family: 'Gotham', sans-serif

}

.clickHere{
    color: black !important;
    text-align: center;
    z-index: 10221910576576567567565;
    text-decoration: none !important
}
.underline{
    text-decoration: underline !important

}
.bringWith{
    color: black !important
}

.underline:hover{
    cursor: pointer;
   
}
.clickHere{
    cursor: default
}


/* #arrowMail {
    right: 130px;
    z-index: 3427643746732
} */

.shadowButton{
    background-color: rgb (247,246,241) !important;
    text-align: center;
    border: 4px rgb(238,58,85) solid;
    color: rgb(0,72,137 );
    width: 300px;
    font-size: 55px;
    box-shadow: -10px 10px rgb(226, 222, 213);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-family: "Gotham", sans-serif
}

.btn{
    border-radius: 0px !important
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    input[type="input"] {
        width: 250px !important;
        margin-top: 10px
    }

    h3 {
        font-size: 1.2rem
    }

    #arrowMail {
        right: 30px
    }

    #arrowPerson1 {
        right: 30px !important
    }

    #arrowPerson2 {
        right: 30px !important
    }

    #arrowPerson3 {
        right: 30px !important
    }

    #arrowPerson4 {
        right: 40px !important
    }

    #arrowElection {
        right: 30px !important
    }

    #arrowElection2 {
        right: 30px !important
    }

    #arrowElection3 {
        right: 30px !important
    }

    #arrowElection4 {
        right: 30px !important
    }

    .form-check {
        font-size:.9rem
    }

    #begin {
        top: -40px
    }
    .question{
        font-size: 2rem;
        font-family: Gotham Pro, sans-serif
    }
    #exclamation{
        height: 27px;
        
        bottom: 3px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .question{
        font-size: 54px
    }
    /* .container{
        top: 5px
    } */

}
