/* .question {
    text-align: center !important;
    margin-bottom: 15px;
    font-size: 62px;
    font-Family: Gotham, sans-serif;
     color: black
} */

h1 {
    text-align: center
}

.form-check {
    display: inline block !important;
    text-align: center !important;
    padding-left: 0px !important
}

#exclamation {
    height: 49px;
    position: relative;
    bottom: 5px
}

li {
    margin-bottom: 20px
}

.btn-primary {
    text-align: center !important;
    background-color: #004789
}

::placeholder {
    color: #004789;
    opacity: .6
}

#mailOther {
    width: 250px !important
}

input {
    color: #004789 !important;
    border: #004789 1px solid;
    border-radius: 5px;
    text-align: center;
    width: 250px !important;
    padding-top: 3px;
    padding-bottom: 3px
}

input[type="radio"] {
    cursor: pointer;


}

/* .react-time-picker__inputGroup__amPm {
    color: #004789 
}
.react-time-picker__wrapper{
    border: #004789 .5px solid 
}
.react-time-picker__button svg {
    color: #004789 !important
} */
#close:hover {
    cursor: pointer;

}

#close {
    position: relative;
    left: 405px;
    bottom: 15px;
    font-size: 25px;
    color: white !important
}

#closeElection:hover {
    cursor: pointer;

}

#closeElection {
    position: relative;
    left: 405px;
    bottom: 15px;
    font-size: 25px;
    color: white !important
}

#closeEarly:hover {
    cursor: pointer;

}

#closeEarly {
    position: relative;
    left: 405px;
    bottom: 15px;
    font-size: 25px;
    color: white !important
}

.mailButton {
    background-color: white !important;
    color: #004789
}

.mailButton:hover {
    color: #004789 !important
}

.fa-arrow-left {
    /* position: relative; */
    /* right: 200px; */
    /* margin-left: 13px; */
    z-index: 50900;
    font-size: 25px;
    text-align: center;
    margin-top: 15px
        /* margin-top: 30px */
}

.fa-arrow-left:hover {
    cursor: pointer;
}

/* #arrowMail{
    right: 165px !important
} */
/* #arrowPerson1 {
    right: 250px !important
} */

/* #arrowPerson2 {
    right: 95px !important
}
#arrowPerson3 {
    right: 280px !important
}

#arrowElection {
    right: 135px !important
}
#arrowElection2 {
    right: 135px !important
}
#arrowElection3 {
    right: 135px !important
}
#arrowElection4 {
    right: 135px !important
} */
#castBallotImage {
    width: 800px;
    text-align: center
}

i {
    z-index: 45030320
}

.jumbotronX {
    margin-top: 100px !important
}

label {
    text-align: left !important
}

.container {
    position: relative;
    bottom: 30px
}

.clickHere {
    color: #EF3D55 !important;
    text-align: center;
    z-index: 10221910576576567567565;
    text-decoration: none !important;
    cursor: default
}

.underline {
    text-decoration: underline !important
}

/* .bringWith{
    color: black !important
} */

.underline:hover {
    cursor: pointer;

}

.finishButton {
    background-color: #004789 !important;
    color: white !important;
    padding: 8px !important
}

.finishButton:hover {
    font-weight: bolder
}

.next {
    margin-top: 30px;
    background-color: #004789;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px
}

.next:hover {
    font-weight: bolder
}
.bottom{
    margin-top: 0px !important
}


.modalFinish:hover {
    font-weight: bolder
}

.inPersonEarly{
    font-size: px !important
}

.shadowButton {
    background-color: rgb (247, 246, 241) !important;
    text-align: center;
    border: 4px rgb(238, 58, 85) solid;
    color: rgb(0, 72, 137);
    width: 300px;
    font-size: 55px;
    box-shadow: -10px 10px rgb(226, 222, 213);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-family: "Gotham", sans-serif
}

.btn {
    border-radius: 0px !important
}
.plan:hover{
cursor: default;
color: #004789 !important;
background-color: white
}
.planEarly:hover{
    cursor: default;
    color: #004789 !important;
    background-color: white
}
.planElection:hover{
    cursor: default;
    color: #004789 !important;
    background-color: white
}
.verbiageElection{
    font-size: 15px
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    input[type="input"] {
        width: 250px ;
        /* margin-top: 10px */
    }
    .input{
    width: 140px !important
    }
    h1 {
        font-size: 1.2rem
    }
  .confetti{
      left: 200px !important;
      bottom: 0px !important
  }
    .jumbotronX {
        margin-top: 70px !important
    }
    .plan{
        width: 300px !important;
        margin-left: 0px !important;
        /* height: 170px !important */
        
    }
    .planEarly{
        width: 300px !important;
        margin-left: 0px !important;
        /* height: 235px !important */
    }
    .planElection{
        width: 300px !important;
        margin-left: 0px !important;
        /* height: 260px !important */
        
    }
    .phoneElection{
        font-size: 1.3rem !important;
        padding-top: 3% !important
    }
   .verbiage{
    font-size: 1.3rem !important;
    padding-top: 10% !important
   }
   .verbiageElection{
       font-size: .9rem !important
   }
   
    
    .whatnext{
        font-size: .75rem
    }
    .woohoo{
        margin-top: 50px !important
    }

.finishButton{
    margin-bottom: 0px !important
}
.next{
    margin-bottom: 0px !important
}

    .form-check {
        font-size: .9rem
    }

    #begin {
        top: -140px
    }

   
    #exclamation {
        height: 27px;

        bottom: 3px;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    input[type="input"] {
        width: 250px ;
        /* margin-top: 10px */
    }
    .input{
    width: 140px !important
    }
    h1 {
        font-size: 1.2rem
    }

    .jumbotronX {
        margin-top: 70px !important
    }
    .plan{
        width: 300px !important;
        margin-left: 0px !important;
        /* height: 170px !important */
        
    }
    .planEarly{
        width: 300px !important;
        margin-left: 0px !important;
        /* height: 235px !important */
    }
    .planElection{
        width: 300px !important;
        margin-left: 0px !important;
        /* height: 260px !important */
        
    }
   .verbiage{
    font-size: 1.3rem !important;
    padding-top: 10% !important
   }
   .phoneElection{
    font-size: 1.3rem !important;
    padding-top: 3% !important
}
    
    .whatnext{
        font-size: .75rem
    }
    .woohoo{
        margin-top: 50px !important
    }

.finishButton{
    margin-bottom: 0px !important
}
.next{
    margin-bottom: 0px !important
}

    .form-check {
        font-size: .9rem
    }

    #begin {
        top: -140px
    }

   
    #exclamation {
        height: 27px;

        bottom: 3px;
    }
  }
  @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    input[type="input"] {
        width: 250px ;
        /* margin-top: 10px */
    }
    .input{
    width: 140px !important
    }
    h1 {
        font-size: 1.2rem
    }

    .jumbotronX {
        margin-top: 70px !important
    }
    .plan{
        width: 300px !important;
        margin-left: 0px !important;
        /* height: 170px !important */
        
    }
    .planEarly{
        width: 300px !important;
        margin-left: 0px !important;
        /* height: 235px !important */
    }
    .planElection{
        width: 300px !important;
        margin-left: 0px !important;
        /* height: 260px !important */
        
    }
   .verbiage{
    font-size: 1.3rem !important;
    padding-top: 10% !important
   }
   .phoneElection{
    font-size: 1.3rem !important;
    padding-top: 3% !important
}
    
    .whatnext{
        font-size: .75rem
    }
    .woohoo{
        margin-top: 50px !important
    }

.finishButton{
    margin-bottom: 0px !important
}
.next{
    margin-bottom: 0px !important
}

    .form-check {
        font-size: .9rem
    }

    #begin {
        top: -140px
    }

   
    #exclamation {
        height: 27px;

        bottom: 3px;
    }
  }
  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {

        h1{
            font-size: 23px !important;
            margin-top: 10px !important
        }
        .whatnext{
            font-size: .7rem !important;
            margin-top: -10px !important
        }
  }
  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
 

        h1{
            font-size: 28px !important;
            margin-top: 10px !important
        }
        .whatnext{
            font-size: 1.1rem !important;
            margin-top: -10px !important
        }
        #woohoo{
            margin-top: 60px !important
        }
  }
  @media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .whatnext{
        font-size: 1.1rem !important
    }
    h1{
        font-size: 2.5rem !important
    }
    #funvote{
        font-size: 27px !important
    }
    #opener{
        font-size: 27px !important;
        width: 330px !important
    }
}