body{
    /* background-image: url('../images/vote.jpg');
    background-size: cover; */
    /* font-family: 'Questrial', sans-serif; */
    font-family: 'Gotham Light', sans-serif
}

#alternate{
    height: 330px;
    position: relative;
    top: 100px;
    left: 20px
  
}
#alternate:hover{
    cursor: pointer;
    zoom: 100.3%
}

#oneSticker {
    width: 265px;
    position: absolute;
    bottom: 480px;
    left: 120px
}

#twoStickers {
    width: 380px;
    position: absolute;
    left: 1250px;
    bottom: 80px
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    #oneSticker {
        width: 100px;
        position: absolute;
        top: 10px;
        left: 10px
    }
    
    #twoStickers {
        width: 150px;
        position: absolute;
        bottom: 70px;
        left: 220px
    }
    #alternate{
        height: 280px;
        position: relative;
        top: 140px;
        right: 20px
  }
}