h3 {
    text-align: center !important;
    margin-bottom: 15px
}

li {
    margin-bottom: 20px
}

.btn-primary {
    text-align: center !important;
    background-color: #004789
}

::placeholder {
    color: #004789;
    opacity: .6
}

input {
    color: #004789 !important;
    border: #004789 .5px solid
}

input[type="radio"] {
    cursor: pointer;

}

/* .react-time-picker__inputGroup__amPm {
    color: #004789 
}
.react-time-picker__wrapper{
    border: #004789 .5px solid 
}
.react-time-picker__button svg {
    color: #004789 !important
} */
#close:hover {
    cursor: pointer;

}

#close {
    position: relative;
    left: 405px;
    bottom: 15px;
    font-size: 25px;
    color: white !important
}

#closeElection:hover {
    cursor: pointer;

}

#closeElection {
    position: relative;
    left: 405px;
    bottom: 15px;
    font-size: 25px;
    color: white !important
}

#closeEarly:hover {
    cursor: pointer;

}

#closeEarly {
    position: relative;
    left: 405px;
    bottom: 15px;
    font-size: 25px;
    color: white !important
}

.mailButton {
    background-color: white !important;
    color: #004789
}

.fa-arrow-left {
    position: relative;
    right: 140px;
    z-index: 50900;
    font-size: 25px
}

.fa-arrow-left:hover {
    cursor: pointer;
}

#arrowPerson1 {
    right: 200px !important
}

#arrowPerson2 {
    right: 70px !important
}

#arrowElection {
    right: 70px !important
}

i {
    z-index: 45030320
}

/* .jumbotronX{
    margin-top: 220px !important
} */

label {
    text-align: left !important
}

.container {
    position: relative;
    top: 50px
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    input[type="input"] {
        width: 250px !important;
        margin-top: 10px
    }

    h3 {
        font-size: 1.2rem
    }

    #arrowMail {
        right: 30px
    }

    #arrowPerson1 {
        right: 30px !important
    }

    #arrowPerson2 {
        right: 30px !important
    }

    #arrowPerson3 {
        right: 30px !important
    }

    #arrowPerson4 {
        right: 40px !important
    }

    #arrowElection {
        right: 30px !important
    }

    #arrowElection2 {
        right: 30px !important
    }

    #arrowElection3 {
        right: 30px !important
    }

    #arrowElection4 {
        right: 30px !important
    }

    .form-check {
        font-size:.9rem
    }

    #begin {
        top: -40px
    }
}