body{
    /* background-image: url('../images/vote.jpg');
    background-size: cover; */
    /* font-family: 'Questrial', sans-serif; */
    font-family: 'Gotham Light', sans-serif
}

#alternate{
    height: 290px;
    position: relative;
     /* top: 130px; */
    left: 20px
   
}
#alternate:hover{
    cursor: pointer;
    zoom: 100.3%
}

/* #oneSticker {
    width: 265px;
    position: absolute;
    bottom: 510px;
    left: 100px;
    z-index: 100;

}

#twoStickers {
    width: 380px;
    position: absolute;
    left: 1250px;
    bottom: 80px;
    z-index: 100 
}*/

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    /* #oneSticker {
        width: 100px;
        position: absolute;
        top: 10px;
        left: 10px
    }
    
    #twoStickers {
        width: 150px;
        position: absolute;
        bottom: 70px;
        left: 220px
    } */
    #alternate{
        height: 170px;
        position: relative;
        top: 30px;
        right: 20px
  }
  footer{
      padding-top: 2px !important;
      padding-bottom: 2px !important
  }
  /* .end{
      display: none !important
  } */
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    #alternate{
        height: 170px;
        position: relative;
        top: 30px;
        right: 20px
  }
  footer{
    padding-top: 2px !important;
    padding-bottom: 2px !important
}
  /* .end{
      display: none !important
  } */
}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    footer{
        padding-top: 2px !important;
        padding-bottom: 2px !important
    }
    /* .end{
        display: none !important
    } */
  }
  