body{
    /* background-image: url('../images/vote.jpg');
    background-size: cover; */
    /* font-family: 'Questrial', sans-serif; */
    font-family: 'Gotham Light'
}

#alternate{
    height: 330px;
    position: relative;
    top: 100px !important
  
}
#alternate:hover{
    cursor: pointer;
    zoom: 101.1%
}

#oneSticker {
    width: 265px;
    position: absolute;
    bottom: 480px;
    left: 120px
}

#twoStickers {
    width: 380px;
    position: absolute;
    left: 1250px;
    bottom: 80px
}