#votePicture {
    width: 1000px;
    text-align: center
}

#voteRegister {
    width: 775px
}

#voteDiv {
    position: relative;
    bottom: 150px
}
.modalClick{
color: white!important
}

#funVote {
    font-size: 24px;
}
#opener{
        width: 300px;
     
        margin-top: 30px;
        font-size: 24px;
      
        background-color: #004789 !important;
        color: white !important
}
#opener:hover{
        font-weight: bolder
}
ul, li {
    margin-left:0px;
    padding: 0px;
    list-style: none !important
   }
 

#begin {
    position: relative;
}

/* #letsGoButton {
    width: 350px;
    /* position: relative;
    left: 350px 
    margin-top: 30px
}

#letsGoButton:hover {
    cursor: pointer;
    zoom: 100.1%
} */
/* #oneSticker {
    width: 250px;
    position: absolute;
    bottom: 480px;
    left: 200px
}

#twoStickers {
    width: 375px;
    position: absolute;
    left: 1200px;
    bottom: 80px
} */
#yes {
    width: 300px;
    margin-left: 200px
}

#no {
    width: 300px;
    margin-right: 200px
}

#maybe {
    width: 430px;
    margin-top: 50px
}

#yes:hover {
    cursor: pointer;
    zoom: 100.1%
}
#makePlan{
    font-size:90px
}

#no:hover {
    cursor: pointer;
    zoom: 100.1%
}

#maybe:hover {
    cursor: pointer;
    zoom: 100.%
}

#x:hover {
    cursor: pointer;

}

#x {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 25px;
    color: white !important
}

#maybeButton {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 25px;
    color: white !important
}

#maybeButton:hover {
    cursor: pointer;

}
#exclamation{
    height: 50px
}
button{
    border-radius: 5px;
    border: #004789 1px solid;
    background-color: white;
    margin-bottom: 15px;
    color: #004789;
    text-align: center;
    /* padding-left: 10px;
    padding-right: 10px; */
    width: 250px;
    padding-top: 3px;
    padding-bottom: 3px
}
button:hover{
    background-color: #004789;
    color: white
}
/* button:focus{
    background-color: #004789;
    color: white
} */


@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

    #votePicture {
        width: 300px;
        text-align: center
    }
    /* #begin{
        top: 5px
    } */
             
    #opening{
        position: relative;
        top: 70px

    }
    #opener{

        font-size: 1.3rem !important;
        width: 250px
    }
    
    .clickHere{
        font-size: .7rem
    }
    .bringWith{
        font-size: .7rem
    }

    #letsGoButton {
        width: 150px;
        position: relative;

    }

    #makePlan{
            font-size: 2.05rem;
          
    }
    
    #funVote {
        font-size: 1.3rem !important;
        margin-top: 15px
    }

    #voteRegister {
        width: 300px;
        position: relative;
        top: 100px
    }

    #yes {
        width: 130px;
        position: relative;
        top: 100px;
        right: 150px;
        z-index: 2000
    }

    #no {
        width: 130px;
        position: relative;
        top: 68.2px;
        left: 150px;
        z-index: 2000
    }

    #maybe {
        width: 200px;
        position: relative;
        top: 60px;
        z-index: 2000
    }

    .container {
        top: 23px
    }
    #x{
        left: 160px;
        z-index: 302393230;
    }
    #maybeButton{
        left: 145px;
        z-index: 302393230;
    }

    #yes{
        margin-left: 170px !important
    }
    #no{
        margin-right: 170px !important
    }
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #votePicture{
        width: 700px
    }
    #letsGoButton{
        width: 250px
    }
    #makePlan{
        font-size: 50px
    }
    #alternate{
        height: 180px;
        top: 30px
    }
    #yes{
        margin-left: 1px !important
    }
    #no{
        margin-right: 1px !important
    }
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #votePicture{
        width: 700px
    }
    #letsGoButton{
        width: 250px
    }
    #makePlan{
        font-size: 30px
    }
    #alternate{
        height: 130px;
        top: 30px
    }
    #yes{
        margin-left: 1px !important
    }
    #no{
        margin-right: 1px !important
    }
    #votePicture {
        width: 300px;
        text-align: center
    }
    /* #begin{
        top: 5px
    } */
             
    #opening{
        position: relative;
        top: 70px

    }
    
    .clickHere{
        font-size: .7rem
    }
    .bringWith{
        font-size: .7rem
    }

    #letsGoButton {
        width: 150px;
        position: relative;

    }

    #makePlan{
            font-size: 2.05rem;
          
    }
    
    #funVote {
        font-size: .9rem;
        margin-top: 15px
    }

    #voteRegister {
        width: 300px;
        position: relative;
        top: 100px
    }

    #yes {
        width: 130px;
        position: relative;
        top: 100px;
        right: 150px;
        z-index: 2000
    }

    #no {
        width: 130px;
        position: relative;
        top: 68.2px;
        left: 150px;
        z-index: 2000
    }

    #maybe {
        width: 200px;
        position: relative;
        top: 60px;
        z-index: 2000
    }

    .container {
        top: 23px
    }
    #x{
        left: 160px;
        z-index: 302393230;
    }
    #maybeButton{
        left: 145px;
        z-index: 302393230;
    }

    #yes{
        margin-left: 170px !important
    }
    #no{
        margin-right: 170px !important
    }
  }
  @media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

    #votePicture {
        width: 300px;
        text-align: center
    }
    /* #begin{
        top: 5px
    } */
             
    #opening{
        position: relative;
        top: 70px

    }
    
    .clickHere{
        font-size: .7rem
    }
    .bringWith{
        font-size: .7rem
    }

    #letsGoButton {
        width: 150px;
        position: relative;

    }

    #makePlan{
            font-size: 2.05rem;
          
    }
    
    #funVote {
        font-size: .9rem;
        margin-top: 15px
    }

    #voteRegister {
        width: 300px;
        position: relative;
        top: 100px
    }

    #yes {
        width: 130px;
        position: relative;
        top: 100px;
        right: 150px;
        z-index: 2000
    }

    #no {
        width: 130px;
        position: relative;
        top: 68.2px;
        left: 150px;
        z-index: 2000
    }

    #maybe {
        width: 200px;
        position: relative;
        top: 60px;
        z-index: 2000
    }

    .container {
        top: 23px
    }
    #x{
        left: 160px;
        z-index: 302393230;
    }
    #maybeButton{
        left: 145px;
        z-index: 302393230;
    }

    #yes{
        margin-left: 170px !important
    }
    #no{
        margin-right: 170px !important
    }
    #votePicture{
        width: 700px
    }
    #letsGoButton{
        width: 250px
    }
    #makePlan{
        font-size: 30px
    }
    #alternate{
        height: 130px;
        top: 30px
    }
    #yes{
        margin-left: 1px !important
    }
    #no{
        margin-right: 1px !important
    }
    #votePicture {
        width: 300px;
        text-align: center
    }
    /* #begin{
        top: 5px
    } */
             
    #opening{
        position: relative;
        top: 70px

    }
    
    .clickHere{
        font-size: .7rem
    }
    .bringWith{
        font-size: .7rem
    }

    #letsGoButton {
        width: 150px;
        position: relative;

    }

    #makePlan{
            font-size: 2.05rem;
          
    }
    
    #funVote {
        font-size: .9rem;
        margin-top: 15px
    }

    #voteRegister {
        width: 300px;
        position: relative;
        top: 100px
    }

    #yes {
        width: 130px;
        position: relative;
        top: 100px;
        right: 150px;
        z-index: 2000
    }

    #no {
        width: 130px;
        position: relative;
        top: 68.2px;
        left: 150px;
        z-index: 2000
    }

    #maybe {
        width: 200px;
        position: relative;
        top: 60px;
        z-index: 2000
    }

    .container {
        top: 23px
    }
    #x{
        left: 160px;
        z-index: 302393230;
    }
    #maybeButton{
        left: 145px;
        z-index: 302393230;
    }

    #yes{
        margin-left: 170px !important
    }
    #no{
        margin-right: 170px !important
    }
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    #votePicture{
        width: 700px
    }
    #letsGoButton{
        width: 250px
    }
    #makePlan{
        font-size: 50px
    }
    #alternate{
        height: 180px;
        top: 30px
    }
    #yes{
        margin-left: 1px !important
    }
    #no{
        margin-right: 1px !important
    }
  }
 
