#votePicture {
    width: 900px
}

#voteRegister {
    width: 775px
}

#voteDiv {
    position: relative;
    bottom: 150px
}

#funVote {
    color: black !important;
    font-size: 18px;
    font-family: "Gotham", sans-serif
}

#begin {
    position: relative;
}

/* #letsGoButton {
    width: 350px;
    /* position: relative;
    left: 350px 
    margin-top: 30px
}

#letsGoButton:hover {
    cursor: pointer;
    zoom: 100.1%
} */
/* #oneSticker {
    width: 250px;
    position: absolute;
    bottom: 480px;
    left: 200px
}

#twoStickers {
    width: 375px;
    position: absolute;
    left: 1200px;
    bottom: 80px
} */
#yes {
    width: 300px;
    margin-left: 160px
}

#no {
    width: 300px;
    margin-right: 160px
}

#maybe {
    width: 450px;
    margin-top: 30px
}

#yes:hover {
    cursor: pointer;
    zoom: 100.1%
}

#no:hover {
    cursor: pointer;
    zoom: 100.1%
}

#maybe:hover {
    cursor: pointer;
    zoom: 100.%
}

#x:hover {
    cursor: pointer;

}

#x {
    position: relative;
    left: 230px;
    bottom: 17px;
    font-size: 25px;
    color: white !important
}

#maybeButton {
    position: relative;
    left: 200px;
    bottom: 17px;
    font-size: 25px;
    color: white !important
}

#maybeButton:hover {
    cursor: pointer;

}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

    #votePicture {
        width: 300px
    }

    #letsGoButton {
        width: 200px
    }

    #funVote {
        font-size: .9rem
    }

    #voteRegister {
        width: 300px;
        position: relative;
        top: 100px
    }

    #yes {
        width: 130px;
        position: relative;
        top: 100px;
        right: 150px;
        z-index: 2000
    }

    #no {
        width: 130px;
        position: relative;
        top: 68.2px;
        left: 150px;
        z-index: 2000
    }

    #maybe {
        width: 200px;
        position: relative;
        top: 60px;
        z-index: 2000
    }

    .container {
        top: 20px
    }
    #x{
        left: 140px
    }
    #maybeButton{
        left: 140px
    }

}